.header {
    --green: #00C88C;
    background-image: url('../../assets/Image.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 616px;
    /* height: 540px; */
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.navigationLeft {
    position: relative;
    display: flex;
}

.navigationLeft>menu, .navigationRight>ul {
    display: flex;
    list-style-type: none;
}

.logoBackground {
    position: relative;
    background-color: var(--green);
    width: 48px;
    height: 64px;
    border-radius: 0 0 32px 32px;
    min-width: 48px;
    min-height: 64px;
}

.highlight {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.highlightLeft {
    color: #FFFFFF;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.button {
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonTotalRadius {
    background-color: var(--green);
    color: #FFFFFF;
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 100%;
}

.footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 28px 0;
}

.imageProfile {
    border: 3px solid #FFFFFF;
    border-radius: 100%;
}